*.pyc
obsfucate_css_selectors.egg-info/

# generated tool output from running tests
*.obsfucated
demo/css_opt
demo/js_opt
demo/views_opt

venv/

# generated log files
main.log

# vim editor files
*.swp
